/*! Source: assets/colours.css  */
.visible-tab {
  background-color: transparent;
}

.visible-tab.responsive {
  background-color: grey;
}

.visible-tab a.tabItem {
  color: darkgrey;
}

.visible-tab.responsive a.tabItem {
  color: #ccc;
}

.visible-tab a.icon {
	color: black;
}

.visible-tab.responsive a.icon {
  color: black;
}

.tab-label a {
  color: #39a;
  font-size: 120%;
}
.tab-label a:hover {
  color: blue;
}

.visible-tab.responsive .tab-label a {
  color: #39a;
  font-size: 120%;
}
.visible-tab.responsive .tab-label a:hover {
  color: white;
}

.visible-tab a:hover {
  background-color: transparent;
  color: black;
  /*border: 2px solid blue;*/
}

/*
.visible-tab a.tabItem:hover {
  color: black;
}
*/

.visible-tab .tab-label a:hover {
  color: red;
}

.visible-tab.responsive .tab-label a:hover {
  color: orange;
}

.visible-tab .activeTab {
  border-bottom: 1px solid #fff;
  color: #666;
}
.visible-tab .inactiveTab {
  border-bottom: 0px;
}

.visible-tab.responsive .activeTab {
  border-bottom: 1px solid #333;
  color: #fff;
}
.visible-tab.responsive .inactiveTab {
  border-bottom: 0px;
  color: #ddd;
}

.active {
  border: 1px solid black;
}

.onPage {
  color: orange;
  font-weight: bold;
}
.onPage:hover {
  color: red;
}

.offPage {
  color: grey;
}
.offPage:hover {
  color: black;
}
